body{
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(255, 255, 211);
    padding-block: 30;
}

h2{
    font-size: 18px;
    font-weight: 200;
}

.name{
 color:  black;
 font-size: 24px;
 font-weight: 300;
}

.link-list1{
    color: sienna;
    font-size: 16px;
}

.link-list2{
    color: darkgreen;
}

#codeacademy-projects{
    color: rgb(70, 25, 4);
}

#mycode{
    color: rgb(4, 63, 4);
}

button{
    border: solid 1px;
    color: #466995;
    border-radius: 10px;
    box-shadow: 0px 4px;
}

button:active{
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 0px;
    background-color: #c0d6df;
    color: #fff;
}